.main-contents
  .main-header
    .group-title
      .group-name
        = @group.name
      .group-member
        = @group.users
    = link_to "edit", class:"edit-btn" do
      Edit
  .messages
    = render @messages
  .main-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: "input-box-text", placeholder: "type a message"
        = f.label :image, class: 'input-box-image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: "input-box-image-file"
      = f.submit 'Send', class: 'form-send-btn'