.side-contents
  .side-header
    .user-status
      .user-name 
        =current_user.name
      .user-system-btns
        .group-new-btn
          = link_to new_group_path do
            = icon('far', 'edit')
        .user-edit-btn
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .side-groups
    - current_user.groups.each do |group|
      .side-group-list
        = link_to group_messages_path(group) do
          .side-group-name
            = group.name
          .side-new-message
            = group.show_last_message